In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from splinter import Browser
from selenium import webdriver
import urllib.parse
import time

In [2]:
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)

In [3]:
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
news_title = soup.find('div', class_='content_title').text
news_title

'\n\nNASA Prepares for Moon and Mars With New Addition to Its Deep Space Network\n\n'

In [5]:
clean_title = str(news_title)
print (clean_title)

NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network

In [6]:
news_p = soup.find('div', class_='rollover_description_inner').text
news_p

'\nRobotic spacecraft will be able to communicate with the dish using radio waves and lasers.\n'

In [7]:
clean_p = str(news_p)
print (clean_p)

Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.

In [8]:
driver = webdriver.Firefox()
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
driver.get(url_image)
time.sleep(1)
elem = driver.find_element_by_id("full_image")
elem.click()
time.sleep(1)
elem = driver.find_element_by_link_text("more info")
elem.click()
time.sleep(1)
url_more_info = driver.current_url
r = requests.get(url_more_info)
html = r.text
soup = BeautifulSoup(html, "html.parser")
featured_image_url = (
    "https://www.jpl.nasa.gov" + soup.find("figure", class_="lede").a["href"]
)
print(featured_image_url)
driver.close()

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA07137_hires.jpg

In [9]:
url_twitter = "https://twitter.com/marswxreport?lang=en"
r = requests.get(url_twitter)
html = r.text
soup = BeautifulSoup(html, "html.parser")
mars_weather = soup.find_all("div", class_="js-tweet-text-container")
mars_weather = mars_weather[0].text[:-26]
print(mars_weather)

InSight sol 450 (2020-03-02) low -93.5ºC (-136.4ºF) high -10.4ºC (13.3ºF)
winds from the SSW at 5.5 m/s (12.4 mph) gusting to 20.6 m/s (46.1 mph)
pressure at 6.30 hPap

In [10]:
url_facts = 'https://space-facts.com/mars/'
mars_table = pd.read_html(url_facts)
mars_table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
mars_df = mars_table[0]
mars_df.columns = ['Facts','Value']
mars_df

                  Facts                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
mars_html = mars_df.to_html(header=True, index =False)
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Facts</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html,'html.parser')
hemispheres = soup.find('div',class_='collapsible results')
results = hemispheres.find_all('a')
print(results)

NameError: name 'browser' is not defined

In [ ]:
len(results)

In [ ]:
hemispheres = []
for result in results:
    if result.h3:
        title = result.h3.text
        link = 'https://astrogeology.usgs.gov' + result['href']
        print(title,link)    
        browser.visit(link)
        time.sleep(5)
        image_html = browser.html
        soup = BeautifulSoup(image_html,'html.parser')
        soup_image = soup.find('div', class_='downloads').find('li').a['href']
        print(soup_image)
        mars_images = {'title':title, 'img_url':soup_image}
        hemispheres.append(mars_images)

In [ ]:
print(hemispheres)